{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for livre in livres %}
<article>
    <h2><a class="livreTitle" href="{{ path('livre', { 'id': livre.id }) }}">{{ livre.title }}</a></h2>
    <p>{{ livre.summary }}</p>
</article>
{% endfor %}
{% endblock %}